<% let pageID = 'home'; %>
<%- include('./components/_head', { pageID: pageID })  %>

<%- include('./components/_header', { pageID: pageID }) %>
<h1>Hello, EJS</h1>
<%- include('./components/_footer')  %>
<%- include('./components/_script')  %>
</body>
</html>
